/* For Dark mode */

body {
    background-color: rgb(29, 29, 29);
    color: white;
}

/* Header Label Text Color */
.css-12u49z-MuiDataGrid-root {
    color: white !important;
}

/* Checkbox color */
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    color: white !important;
}

/* Action Button Color*/
.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    color: white !important;
}

/* Table Page no. and manager color */
.css-rtrcn9-MuiTablePagination-root {
    color: white !important;
}

/* Sorting Buttons colors */
.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root {
    color: white !important;
}

/* Page no. drop down */
.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
    color: white !important;
}

.css-12u49z-MuiDataGrid-root {
    border-color: rgba(90, 90, 90, 0.893) !important;
}

.css-12u49z-MuiDataGrid-root .MuiDataGrid-withBorderColor {
    border-color: rgba(90, 90, 90, 0.893) !important;
}


/* Cloud CSS Fix */
.css-1si6n65 {
    color: white !important;
}

.css-zun73v {
    color: rgb(255, 255, 255) !important;
}

.css-vubbuv {
    color: white !important;
}

.css-1chpzqh {
    color: white !important;
}

.css-1cccqvr.css-1cccqvr.css-1cccqvr {
    color: white !important;
}

.css-1utq5rl {
    color: white !important;
}

/* Borders */
.css-1si6n65 .MuiDataGrid-withBorderColor {
    border-color: rgb(46 46 46) !important;
}

.css-1si6n65 {
    border-color: rgb(56, 56, 56) !important;
}

/* Dark mode End */

/* If need to switch to light mode just comment the top manuelly as for now */

.buttonContainer {

    padding: 0.5rem 1rem;
    border: none;

}

.button {
    background-color: #4caf50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    background-color: #3d8b3d;
}


.MuiDataGrid-row {
    height: 100%;
}

.css-1si6n65 {

    color: white !important;
}


@keyframes blink {
    0% {
        background-color: red;
    }

    50% {
        background-color: rgb(47, 47, 47);
    }

    100% {
        background-color: red;
    }
}


.red-row {
    animation: blink 1s infinite;
}

.orange-row {
    background-color: rgb(221, 118, 54);
}


/* now in test  */
/* For desktop */
.data-grid {
    width: 100%;
    height: 400px;
    /* Adjust the height according to your requirements */
}

/* For tablets */
@media (max-width: 1024px) {
    .data-grid {
        height: 300px;
        /* Adjust the height according to your requirements */
    }
}

/* For mobile */
@media (max-width: 768px) {
    .data-grid {
        height: 200px;
        /* Adjust the height according to your requirements */
    }
}