/* For Dark mode */

body {
    background-color: rgb(29, 29, 29);
    color: white;
}

/* Header Label Text Color */
.css-12u49z-MuiDataGrid-root {
    color: white !important;
}

/* Checkbox color */
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
    color: white !important;
}

/* Action Button Color*/
.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    color: white !important;
}

/* Table Page no. and manager color */
.css-rtrcn9-MuiTablePagination-root {
    color: white !important;
}

/* Sorting Buttons colors */
.css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root {
    color: white !important;
}

/* Page no. drop down */
.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
    color: white !important;
}

/* Dark mode End */

/* If need to switch to light mode just comment the top manuelly as for now */

.buttonContainer {

    padding: 0.5rem 1rem;
    border: none;

}

.button {
    background-color: #4caf50;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.button:active {
    background-color: #3d8b3d;
}


.MuiDataGrid-row {
    height: 100%;
}


/* Alarm-Blink effect */

.blink-row {
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0% {
        background-color: transparent;
    }

    50% {
        background-color: red;
    }

    100% {
        background-color: transparent;
    }
}

/* now in test  */
/* For desktop */
.data-grid {
    width: 100%;
    height: 400px;
    /* Adjust the height according to your requirements */
}

/* For tablets */
@media (max-width: 1024px) {
    .data-grid {
        height: 300px;
        /* Adjust the height according to your requirements */
    }
}

/* For mobile */
@media (max-width: 768px) {
    .data-grid {
        height: 200px;
        /* Adjust the height according to your requirements */
    }
}